<div class="sideBar">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    {{#each categories as |category|}}
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button buttonf collapsed text-danger fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
           {{category_name}}
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body buttons">
          {{#each category.products as |product|}}
          <h6>{{product_name}}</h6>
          <h6 class="">{{product_name}}</h6>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>