    <div class="optionContainer">
      <div class="option-button-container m-10">
        <button class="upload-catalog-btn p-3 m-2 bg-blue-400 rounded-lg drop-shadow text-gray-50">Upload Catalog</button>
        <button class="add-employee-btn p-3 m-2 bg-blue-400 rounded-lg drop-shadow text-gray-50">Add Employee</button>
      </div>
    </div>