<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" type ="text/css" href="/css/style.css">

    <title>Star Management System</title>
</head>
<body>
    
    <header class = "slhead">
        <div class="logo">
            <svg width="100" height="104" viewBox="0 0 155 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_20_58)">
            <path d="M141.833 15.0105L93.4193 30.8169L52.9222 0L53.0149 41.0398L0 68.3092L61.4694 46.759L131.944 23.7466L104.125 102.815L155 104L124.967 62.954L141.833 15.0105Z" fill="white"/>
            <path d="M78.5823 45.3216L108.021 75.1945L123.712 30.5825L78.5823 45.3216Z" fill="#ED1C24"/>
            </g>
            <defs>
            <clipPath id="clip0_20_58">
            <rect width="155" height="104" fill="white"/>
            </clipPath>
            </defs>
            </svg>
        </div>
        <div class="searchBox">
            <input type="text" class = "search" placeholder="Search">
          
            <svg width="29" height="20" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg" id="search-btn">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3269 23.6537C13.1064 26.3752 6.52489 25.0948 2.74421 20.3032C-1.5328 14.8827 -0.60575 7.0212 4.81483 2.74419C10.2354 -1.53282 18.0969 -0.605772 22.3739 4.81481C26.1546 9.60643 25.8689 16.3053 22.0075 20.7497L30.8557 31.9637C31.6577 32.98 31.4838 34.454 30.4675 35.256C29.4511 36.0579 27.9771 35.8841 27.1752 34.8677L18.3269 23.6537ZM17.8675 19.3193C14.1414 22.2456 8.74768 21.6048 5.81136 17.8834C2.87091 14.1568 3.50826 8.752 7.23491 5.81156C10.9616 2.87111 16.3663 3.50846 19.3068 7.23511C22.2431 10.9565 21.6116 16.3514 17.8989 19.2946C17.8936 19.2986 17.8884 19.3027 17.8831 19.3069C17.8779 19.311 17.8727 19.3151 17.8675 19.3193Z" fill="#ADADAD"/>
            </svg>
    
            
        </div>
        <div class="nav">
            <ul>
                <li class="settings">
                    <svg fill="#ffffff" height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	                viewBox="0 0 489.802 489.802" xml:space="preserve">
                        <g>
                            <path d="M20.701,281.901l32.1,0.2c4.8,24.7,14.3,48.7,28.7,70.5l-22.8,22.6c-8.2,8.1-8.2,21.2-0.2,29.4l24.6,24.9
                                c8.1,8.2,21.2,8.2,29.4,0.2l22.8-22.6c21.6,14.6,45.5,24.5,70.2,29.5l-0.2,32.1c-0.1,11.5,9.2,20.8,20.7,20.9l35,0.2
                                c11.5,0.1,20.8-9.2,20.9-20.7l0.2-32.1c24.7-4.8,48.7-14.3,70.5-28.7l22.6,22.8c8.1,8.2,21.2,8.2,29.4,0.2l24.9-24.6
                                c8.2-8.1,8.2-21.2,0.2-29.4l-22.6-22.8c14.6-21.6,24.5-45.5,29.5-70.2l32.1,0.2c11.5,0.1,20.8-9.2,20.9-20.7l0.2-35
                                c0.1-11.5-9.2-20.8-20.7-20.9l-32.1-0.2c-4.8-24.7-14.3-48.7-28.7-70.5l22.8-22.6c8.2-8.1,8.2-21.2,0.2-29.4l-24.6-24.9
                                c-8.1-8.2-21.2-8.2-29.4-0.2l-22.8,22.6c-21.6-14.6-45.5-24.5-70.2-29.5l0.2-32.1c0.1-11.5-9.2-20.8-20.7-20.9l-35-0.2
                                c-11.5-0.1-20.8,9.2-20.9,20.7l-0.3,32.1c-24.8,4.8-48.8,14.3-70.5,28.7l-22.6-22.8c-8.1-8.2-21.2-8.2-29.4-0.2l-24.8,24.6
                                c-8.2,8.1-8.2,21.2-0.2,29.4l22.6,22.8c-14.6,21.6-24.5,45.5-29.5,70.2l-32.1-0.2c-11.5-0.1-20.8,9.2-20.9,20.7l-0.2,35
                                C-0.099,272.401,9.201,281.801,20.701,281.901z M179.301,178.601c36.6-36.2,95.5-35.9,131.7,0.7s35.9,95.5-0.7,131.7
                                s-95.5,35.9-131.7-0.7S142.701,214.801,179.301,178.601z"/>
                        </g>
                    </svg>
                </li>
                <li class="logout">
                    <svg fill="#FFFFFF" height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="0 0 384.971 384.971" xml:space="preserve">
                            <g>
                                <g id="Sign_Out">
                                    <path d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03
                                        C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03
                                        C192.485,366.299,187.095,360.91,180.455,360.91z"/>
                                    <path d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279
                                        c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179
                                        c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"/>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </g>
                    </svg>
                </li>
            </ul>
        </div>
    </header>

    <div class="logo-bg">
            <svg width="900" height="900" viewBox="0 0 155 125" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo-pic">
            <g clip-path="url(#clip0_20_58)">
            <path d="M141.833 15.0105L93.4193 30.8169L52.9222 0L53.0149 41.0398L0 68.3092L61.4694 46.759L131.944 23.7466L104.125 102.815L155 104L124.967 62.954L141.833 15.0105Z" fill="#BAC8DC"/>
            <path d="M78.5823 45.3216L108.021 75.1945L123.712 30.5825L78.5823 45.3216Z" fill="#FBC9C4"/>
            </g>
            <defs>
            <clipPath id="clip0_20_58">
            <rect width="155" height="104" fill="white"/>
            </clipPath>
            </defs>
            </svg>
    </div>


    <main>
        {{{body}}}
    </main>

    {{!-- Bootstrap handler --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
    
    <script src="/js/main.js"></script>
</body>

</html>