<section>
  <div class="add-product-container">
    <div class="col-md-8 d-flex justify-content-center form-container">
      <form class="background row p-4 mt-3 add-product-form" enctype="multipart/form-data">
        <div class="col">
          <div class="col-md-3 add-product-input">
            <label for="new-product-name">Product Name:</label>
            <input type="text" id="new-product-name" name="new-product-name">
          </div>
          <div class="col-md-3 add-product-input">
            <label for="new-product-price">Product Price:</label>
            <input type="text" id="new-product-price" name="new-product-price">
          </div>
          <div class="col-md-3 add-product-input">
            <label for="new-product-stock">Product Stock:</label>
            <input type="text" id="new-product-stock" name="new-product-stock">
          </div>
        </div>
        <div class="col">
          <div class="col-md-4 add-product-input">
            <label for="new-category-id">Category Name:</label>
            <input type="text" id="new-category-id" name="new-category-id">
          </div>
          <div class="col-4 add-product-input">
            <label for="new-product-description">Product Description:</label>
            <input type="text" id="new-product-description" name="new-product-description">
          </div>
          <div class="col-md-8 ">
            <div class="add-product-input">
              <label for="new-product-image">Product Image URL:</label>
              <input type="text" id="new-product-image" name="new-product-image">
            </div>
            <div class="add-product-input">
              <label for="local-product-image">Local Product Image:</label>
              <input type="file" name="image" id="local-product-image" accept="image/*">
          </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4 ">
          <button class="btn btn-primary add-new-product-btn" type="submit">Add New Product</button>
        </div>
      </form>
    </div>
  </div>
  </div>
    
</section>


{{!-- modal for status --}}
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Show a second modal and hide this one with the button below.
      </div>
    </div>
  </div>
</div>

<a class="btn btn-primary pop-up hidden" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Create Successfully</a>

<script src="/js/addNewProduct.js"></script>
