
 <section>
{{> accordion}}


{{!-- Product Cards --}}
<div class="row mt-4 ms-5 ms-ms-0">
  {{#each products as |product|}}
    <div class="productCard">
    <h6 class="cardName">{{product_name}}</h6>
    <div class="box"></div>
    </div>
  {{/each}}
</div>



</section>

<script src="/js/product.js"></script>