<nav class="navbar bg-dark navbar-dark p-4">
  <div class="container-fluid d-flex justify-content-center">
    <form class="d-flex" role="search">
      <button class="bg-dark border-0" type="submit">
        <img class="bg-dark w-75" src="public\assets\images\icon-s.svg" alt="" />
      </button>
      <input
        class="form-control me-2 bg-dark text-white p-0 input border-top-0 border-start-0 border-end-0 rounded-0"
        type="search"
        placeholder="Search for product"
        aria-label="Search"
      />
    </form>
  </div>
</nav>
<div class="container-fluid text-center mt-5">
  <div>
    <img
      class="img-fluid"
      src="public\assets\images\icon\imageicon.svg"
      alt=""
    />
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="mt-5 container d-flex justify-content-evenly">
        
        <button class="btn btn-primary upload-catalog-btn">Upload Catalog</a></button>
        <button class="btn btn-primary add-employee-btn">Add Employee</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/manageOption.js"></script>