<div class="container-fluid text-center mt-5">
  <div>
    <img
      class="img-fluid"
      src="public\assets\images\icon\imageicon.svg"
      alt=""
    />
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="mt-5 container d-flex justify-content-evenly">
        
        <button class="btn btn-primary upload-catalog-btn">Upload Catalog</a></button>
        <button class="btn btn-primary add-employee-btn">Add Employee</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/manageOption.js"></script>