<div class="product-related-section">
  <div class="container  text-center mt-5 product-related-container">
  <form class="d-flex justify-content-center " role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="product-search-text">
    <button class="btn btn-outline-success ss product-related-btn" type="submit">Search</button>
  </form>

  <p class="my-4 fs-6 para"> or </p>
  <button class="btn btn-primary add-new-product-btn">Add New Product</button>

<script src="/js/productRelated.js"></script>
