<section>
{{> accordion}}

{{!-- Product Description Page --}}
      <div class="col-md-6">
        <div class=" mt-5 ms-4 ms-md-3">
          <div class="d-flex ">
            <div class=" ">
              <h1>Product_Name</h1>
            <div class="bg"></div>
            </div>
            
            <div class=" ms-3 ">
              <div class="pp">
                <h2>price</h2>
                <div class="price"></div>
              </div>
            </div>
          </div>
          

          <div>
            <label class="fw-bold my-3" for="description">description</label><br>
            <textarea name="" id="description" class="descrip w-100 "></textarea>
          </div>
          <div>
            <button class="btn btn-primary mt-2 ">Quote</button>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="b_g p-3 mt-5 d-md-inline-block ms-md-5 ms-4  ">
          <div>
            <label for="check"><h2>add_on</h2></label>  <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check">
            <input type="text" class="input-1 border-0 ">
          </div>
          
          <div>
            <label for="check"><h2>add_on</h2></label>  <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check">
            <input type="text" class="input-1 border-0 ">
          </div>
          <div>
            <label for="check"><h2>add_on</h2></label>  <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check">
            <input type="text" class="input-1 border-0 ">
          </div>
          <div>
            <label for="check"><h2>add_on</h2></label>  <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check">
            <input type="text" class="input-1 border-0 ">
          </div>
          <div>
            <label for="check"><h2>add_on</h2></label>  <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check">
            <input type="text" class="input-1 border-0 ">
          </div>
        </div>
      </div>
      
</section>