<div class="product-related-section sm:mx-[325px] md:mx-[325px] lg:mx-[475px] 2xl:mx-[700px]">
  <div class="product-related-container justify-center flex w-[400px]">
  <form class="justify-center" role="search">
    <input class="justify-center text-center" type="search" placeholder="Search" aria-label="Search" id="product-search-text">
    <button class="btn btn-outline-success ss product-related-btn bg-green-600" type="submit">Search</button>
  </form>

  <p class="my-4 fs-6 para"> or </p>
  <button class="add-new-product-btn bg-blue-500 mt-5 p-3 rounded-lg drop-shadow-md hover:drop-shadow-lg hover:bg-blue-600">Add New Product</button>

<script src="/js/productRelated.js"></script>
