<div class="container text-center mt-5 ">
  <div>
    <img class="img-fluid " src="public\assets\images\icon\imageicon.svg" alt="">
  </div>
</div>
<div class="container  text-center mt-5 ">
  <form class="d-flex justify-content-center " role="search">
    <button class="bg-white border-0 " type="submit"><img class="w-75 " src="public\assets\images\icon\icon-s.svg" alt="" ></button>
    <input class="form-control me-2 p-0 input2 border-top-0 border-start-0 border-end-0 rounded-0  " type="search" placeholder="Search for product" aria-label="Search">
  </form>

  <p class="my-4 fs-6 ">or</p>

  <button class="btn btn-primary add-new-product-btn">Add New Product</button>
</div>

<script src="/js/productRelated.js"></script>
