<div class="container text-center mt-5 ">
  <div>
    <img class="img-fluid " src="public\assets\images\icon\imageicon.svg" alt="">
  </div>
</div>
<div class="container  text-center mt-5 ">
  <form class="d-flex justify-content-center " role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="product-search-text">
    <button class="btn btn-outline-success ss" type="submit">Search</button>
  </form>

  <p class="my-4 fs-6 ">or</p>

  <button class="btn btn-primary add-new-product-btn">Add New Product</button>
</div>

<script src="/js/productRelated.js"></script>
