/* main.handlebar body styling */
body {
    scroll-behavior: auto;
    background-attachment: fixed;
}

.hidden{
  display: none;
}

.logout,
.settings:hover{
  cursor: pointer;
}

.logo-bg {
  position:fixed;
  width: auto;
  z-index: -1;
  padding:0;
  margin:0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  margin: 10px;
  display: inline;
  align-content: center;
  align-items: center;
}

section {
  margin-top: 20px; 
  display:flex;
  flex-direction: row;
  justify-content: center;
}

/* Search Bar */
.search{
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(119, 119, 119);
  background:transparent;
  text-align: center;
  color: white;
}

/* Product Card Styling */   
.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  background-color: #404040;
  position: relative;
  top: 5px;
  margin: auto;
  width: 175px;
  height: 185px;
  border-radius: 10px;
}

.productCard {
  background-color: rgb(197, 209, 212);
  border-radius: 25px;
  width: 220px;
  height: 275px;
  margin: 10px;
}

.productCard:hover {
  transition: 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* Login Page CSS */
.login-container {
  max-width: 350px;
  height:400px;
  text-align: center;
  margin:auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #b8d3f176;
}
.login-container h3 {
  text-align: center;
  margin-bottom: 50px;
  color: #333333;
}
.form-control {
  
  border-radius: 8px;
}
.form-label{
font: 1em sans-serif;
}
.btn-primary {
  border-radius: 5px;
  text-align: center;
  width: 100px;
  margin-top: 20px;
  font:1em sans-serif;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.35rem rgba(0, 123, 255, 0.5);
}
.btn1 {
  background-color: #ccc; /* Grey color */
  color: #333;
  border: none;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn {
  padding: 10px 20px;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn1 {
  background-color: #ccc; /* Grey color */
  color: #333;
  cursor: none;
  border: none;
}
.submit-button {
  background-color: #007bff; /* Blue color */
  color: white;
}

/* Product Description Page CSS */
.productDetailContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 20px;
  padding-bottom: 30px;
  width: 950px;
  background-color:#c1daf776;  
  backdrop-filter: blur(5px);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.397);
  color: rgb(0, 0, 0);
}

.productImg {
  position: relative;
  right: 20px;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(48, 48, 48);
}


.btnBox {
  padding: 10px; 
}

.priceBox {
  position: relative;
  right: 15px; 
  margin: 10px;
}

.price{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
}

.add-product-input{
  margin: 20px;
}

/* Manager Option CSS */

.manager-container {
  max-width: 600px;
  height:400px;
  text-align: center;
  position: relative;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #c1daf776;
}

.option-button-container {
  display:flex;
  flex-direction: column;
  top: -250px;
}

.optionContainer {
  display: flex;
  justify-content: center;
}

.upload-catalog-btn{
  width: 200px;
}

.upload-catalog-btn:hover {
  box-shadow:  1px 3px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

.add-employee-btn{
  width: 200px;
}

.add-employee-btn:hover {
  box-shadow:  1px 3px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

/* Modal Styling */
.modal-window {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  margin: auto;
  overflow: auto; /* Enable scroll if needed */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* productRelated CSS */

.para{
  color: rgb(29, 100, 148);
}

.border-line {
  border-top: 4px solid red;
}

.product-related-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 300px;
  background-color: #c1daf776;  
  backdrop-filter: blur(5px);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.397);
  color: rgb(255, 255, 255);
}

.add-new-product-btn {
  position: relative;
  bottom: 20px;
  width: 175px;
}

.add-employee-btn:hover{
  box-shadow:  1px 3px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

.related-search{
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(119, 119, 119);
  background:transparent;
  text-align: center;
  color: rgb(0, 0, 0);
}

.related-search::placeholder{
  color: rgb(29, 100, 148);
}

/* Add Product CSS */
.add-product-container{
  position: relative;
  left: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 900px;
  background-color: #5b6168;  
  backdrop-filter: blur(5px);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.397);
  opacity: 0.9;
  color: rgb(255, 255, 255);
}

.form-container{
  display:flex;
  justify-content: center;
  margin: auto;
}

/* Add Employee CSS */
.add-employee-container{
  position: relative;
  left: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 900px;
  background-color: #5b6168;  
  backdrop-filter: blur(5px);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.397);
  opacity: 0.9;
  color: rgb(255, 255, 255);
}

.add-empoloyee-form{
  position:relative;
  justify-content: center;
}

.add-employee-button{
  width: 200px;
}

.add-employee-button:hover{
  box-shadow:  1px 3px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}