* {
    font-size: 1rem;
  }
  html {
    overflow-x: hidden;
  }
  
  .form-control::placeholder {
    color: white;
    opacity: 0.5;
    text-align: center;
  }
  
  .input {
    width: 15em;
  }
  
  .background {
    display: inline-block;
  
    background-color: gray;
    border-radius: 20px;
  }
  
  .input1 {
    height: 60px;
    width: 17vw;
  }
  
  .input2 {
    height: 60px;
    width: 14vw;
  }
  
  .input3 {
    height: 200px;
    width: 17vw;
  }
  
  .input4 {
    height: 60px;
  }
  
  .accordion-button {
    background-color: rgb(216, 210, 210);
    display: block;
    padding: 30px;
    border-bottom: 1px solid black;
  }
  .buttonl {
    padding-bottom: 100px;
  
    border-bottom: none;
    border-radius: 0px 0px 10px 10px;
  }
  .accordion.accordion-flush {
    border-radius: 1.4em;
    overflow: hidden;
  }
  .buttons {
    background-color: rgb(177, 173, 173);
  }
  