html {
    overflow-x: hidden;
  }
  
  .form-control::placeholder {
    color: white;
    opacity: 0.5;
    text-align: center;
  }
  
  .input {
    width: 15em;
  }
  
  .box {
    width: 17vw;
    height: 150px;
  }
  .accordion-button {
    background-color: rgb(216, 210, 210);
    display: block;
    padding: 30px;
    border-bottom: 1px solid black;
  }
  .buttonl {
    padding-bottom: 100px;
  
    border-bottom: none;
    border-radius: 0px 0px 10px 10px;
  }
  
  .buttons {
    background-color: rgb(177, 173, 173);
  }
  .accordion.accordion-flush {
    border-radius: 1.4em;
    overflow: hidden;
  }
  